html, body {
    background-color:black;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  h2 {
    color: white;
    text-align: center;
  }
  
  #display {
    height: 75px;
    width: 250px;
    border-top-left-radius: 2em;
    border-top-right-radius:2em;
    margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
    padding-top: 20px;
    
  }
  
  .white-background {
    background-color: white;
    padding-left:50px;
    font-size: 2em;
  }
  
  
  .container {
    background-color: grey;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius:2em;
    border-bottom-right-radius:2em;
    margin-right: auto;
    margin-left: auto;
    
  }
  
  
  
    
  .numbers, {
   
    margin: 4px 4px 4px 4px;
    width: 2.6vw
    height: 2.6vw;
    margin-left:30px;
    
    
  }
  
  .clear {
    background-color: red;
  }
  
  .operator {
   
   
    background-color: orange;
  }
  
  .bigButton{
    width: 90px;
    margin:10px 0px 0px 4px;
  }
  
    